{% extends 'app_blog/base.html' %}

{% block header %}

{% load static %}

<header class="masthead" style="background-image: url({% static 'app_blog/assets/img/home-bg.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Perfil de {{request.user.username}}</h1>
                    <img src="{{image_url}}" alt="Imagen" width="25%">
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock header %}

{% block main_content %}

<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="container mt-5">
            <p>Usuario: {{user.username}}</p>
            <p>Nombre: {{user.first_name}}</p>
            <p>Apellido: {{user.last_name}}</p>
            <p>Email: {{user.email}}</p>
            <p>Acerca de mi: {{user.perfil.descripcion}}</p>     
            <p>Red Social: {{user.perfil.red_social}}</p>                                    
            <a href="{% url 'update_user' %}" class="btn btn-success">Update informacion</a>
            {% if request.user.is_superuser %}
            <a href="{% url 'upload_avatar' %}" class=" btn btn-success">Cargar avatar</a>
            {% endif %}
            <p><a href="{% url 'Home' %}">Volver al inicio</a></p>
        </div>
    </div>
</div>

{% endblock main_content %}

