{% extends 'app_blog/base.html' %}

{% block header %}

{% load static %}

<header class="masthead" style="background-image: url({% static 'app_blog/assets/img/about-bg.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Acerca de Nosotros</h1>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock header %}

{% block main_content %}

<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p> Creadores del Proyecto: Ezequiel Bargas y Ezequiel Pena Adarraga.</p>
                <p> <img src="{% static 'app_blog/assets/img/bargas.jpg' %}" alt="Imagen" width="15%" ALIGN=”left” /><BR CLEAR=”left” /> Mi nombre es Ezequiel Bargas y es para mi un gusto presentarles este proyecto. Tengo 24 años y decidi empezar a programar debido aque siempre me interezo la tecnologica y su logica detras de la pantalla. Quiero recalcar la inmenza ayuda que represento mi compañero ezequiel Pena Adarraga quien aporto demasiado al proyecto debido a mis problemas laborales y personales. sin la disposion y esfuerzo de el no creo que poder presentar este proyecto.</p>
                <p> <img src="{% static 'app_blog/assets/img/eze.jpg' %}" alt="Imagen" width="15%" ALIGN=”left” /><BR CLEAR=”left” /> Mi nombre es Ezequiel Pena Adarraga tengo 39 años, tengo algo de experiencia previa en programacion y decidi tomar este curso para ponerme al dia. </p>   
                <p> La idea de este proyecto fue armar una web tipo blog por lo que utlizamos la plantilla bootstrap "Clean Blog" de startboostrap.com.</p>
                <p><a href="{% url 'Home' %}">Volver al inicio</a></p>
            </div>
        </div>
    </div>
</article>

{% endblock main_content %}